.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 189px;
    height: 99px;
    padding-left: 9px;
    padding-top: 16px;
    padding-bottom: 16px;
    color: black;
    border-radius: 5px;
    font-weight: 400;
}

.cardTitle {
    font-size: 10px;
}

.cardValues {
    font-size: 22px;
}