body, html{
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

#__next > main > div > div > div.leaflet-control-container > div.leaflet-bottom.leaflet-right > div > a{
  display: none;
}